    h1 {
        color: black;
        font-size: 64px;
        margin-bottom: 16px;
    }
    
    body {
        background-color: #e6e6e6;
        max-width: 650px;
        margin: 0 auto;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .main-content {
        flex-grow: 1;
    }
    
    footer {
        border-top: 1px solid grey
    }
    
    header {
        margin-top: 16px;
        margin-bottom: 48px;
    }
    
    header a {
        color: brown;
        margin-right: 16px;
        text-decoration: none;
    }

    