<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was creaated by Zaivs. it was created using mapbox and darksky.</p>
    </div>


    {{>footer}}


</body>

</html>